body{
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

/* Header */


nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 30px;
    background-color: white;
}

#nav-flex{
    display: flex;

}
#nav-left{
    width: 50%;
}

#nav-right{
    width: 50%;
    text-align: end;
}

.nav-item{
    padding: 10px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #b2b4b8;
}

/* Main */

#landing-square-box{
    margin: 0 auto;
    margin-top: 100px;
    width: 80%;
    height: 80vh;
    background-color: black;
}

#pictures{
    margin-top: 50px;
    margin-bottom: 50px
}

#pictures-column{
    display: flex;
    flex-direction: column;
} 
.picture-rows{
    display: flex;
}

.picture-square{
    width: 223px;
    height: 225px;
    border: 1px solid white;    
}

img{
    display: block;
    /* width: 223px;
    height: 224px; */
    width: 100%;
    height: 100%;
}


#about-us{
    margin-bottom: 50px;
}

#about-row{
    display: flex;
    justify-content: center;
}

#about-intro{
    width: 30%;
    text-align: center;
    margin-top: 70px;
}


#about-card{
    width: 300px;
    height: 400px;
    background-color: black;
    margin-left: 20px;
    margin-right: 20px;
}

#about-description{
    width: 30%;
    text-align: center;
    margin-top: 50px;
}

footer{
    width: 100%;
    padding: 60px;
    background-color: whitesmoke;
}