body{
    font-family: 'Lato', 'Assistant', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

html{
    width: 100%;
}


/* index.html */

/* Header(for all the pages) */

header{
    /* position: fixed;
    left: 0;
    right: 0;
    top: 0; */
    z-index: 1;
    max-width: 100%;
    padding: 10px;
    background-color: #283618;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-bottom: 1px  solid white;
}

.logo {
    color: white;
    width: 220px;
    height: 60px;
    padding: 0 20px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    text-decoration: none;
}

nav{
    float: right;
}

.clearfix{
    clear: both;
}

nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}

.icon {
    display: none;
}

nav ul li a.active, nav ul li a:hover{
    color: black;
    background-color: white;
    box-sizing: border-box;
    border-radius: 2px;
    transition: 0.5s;
}

.menu-toggler{
    display: none;
}


/* Header Ends here*/



/* Footer For all pages Starts Here */
footer{
    margin-top: 0;
    background-color: #B86200;
}

/*I DONT REMEMBER WHY THIS IS HERE, BUT IT WORKS*/

#cc-footer{
    padding: 60px;
    display: -webkit-flex;
}

.second-sec{
    margin-left: 40px;
}

.social-media-icons{
    display: -webkit-flex;
    
}

.circle-icons i{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: -webkit-flex;    
    justify-content: center;
    align-items: center;
    margin: 5px;
}

a{
    text-decoration: none;
}

.second-sec p a{
    color: black;
    text-decoration: underline;
}


.fa-facebook-f{
    color: white;
    background-color: #3b5998;
}
.fa-twitter{
    color:  #00acee;
    background-color:white;
}

.fa-instagram{
    color:  #3f729b;
    background-color:white;
}

.fa-linkedin-in{
    color:  #0e76a8;
    background-color:white;
}

/* Footer Ends Here*/


/* Main */

/* Landing Page */

#landing-page-video{
    margin-top: 0;
    width: 100%;
    padding: 50px 0 80px 0;
    margin-bottom: 40px;
    background-color: black;
    display: -webkit-flex;
}

#landing-video{
    display: -webkit-flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
}

#landing-page-section{
    color: white;
    width: 40%;
    margin-right: 100px;
    margin-top: 20px;
}

video{
    width: 60%;
}

.jp-link{
    color: white;
    text-decoration: underline;
}

.learn-more{
    color: white;
    text-decoration: underline;
}

.learn-more:hover{
    font-weight: bold;
}

/* Landing page Section Buttons */

a.button1{
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
}
a.button1:hover{
     color: #000000;
     background-color: #FFFFFF;
}


/* About Us Section */

#about-us{
    padding: 60px;
    margin-bottom: 0;
  
    color: black;
}

#about-row{
    display: -webkit-flex;
    justify-content: space-between;
}

#about-intro{
    width: 30%;
    text-align: center;
    margin-top: 70px;
}

#about-us h3{
    text-decoration: underline;
}


#about-card{
    width: 340px;
    height: 340px;
    margin-left: 20px;
    margin-right: 20px;
}

.about-card-img{
    width: 100%;
    height: 100%;
}

#about-description{
    width: 30%;
    text-align: center;
    margin-top: 50px;
}

#about-description h4 a{
    color: #686868;
}

#about-description h4 a:hover{
    color: #0C120C
}





/* Photography.html */

/* Main */

#images{
    display: -webkit-flex;
    flex-direction: column;
}

.img-row{
    display: -webkit-flex;
    height: min-content;
}

.img-cover{
    border: 1px solid white;
}

/*The images width are being affected, so i had to put this here*/

.lozad{
    width: 100%;
    min-height: 100%;
}


/* Videos.html */
#vid-blog{
margin-top: 78px;
}

#vid-blog div{
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}


#vid-blog div video{
    width: 60%;
}

#vid-blog div p{
    width: 50%;

}

/* Background color for the videos */

.bl-cl{
    background-color: black;
    color: white;
}

.or-cl{
    background-color: orangered;
    color: white;
}

.yel-col{
    background-color: yellow;

}

/* Videos.html Ends */


/*Project.html*/

#project-header{
    text-align: center;
    font-weight: 600;
}

.first-project{
    display: -webkit-flex;
    padding: 30px;
}

.project-cover{
    width: 380px;
    height: 430px;
}

.project-poster-img{
    width: 100%;
    height: 100%;
}

.project-text{
    width: 80%;
    margin: 30px;
}

.episode-title:hover{
    text-decoration: underline;
}

.project-hr{
    width: 90%;
}

.a-project{
    text-decoration: none;
    color: black;
}

/* Episode 1.html*/ 

#episode-1{
    display: -webkit-flex;
    margin-bottom: 40px;
    justify-content: center;
}

.project-episode-1{
    width: 50%;
    margin: 20px;
}


#episode-1-text-content h2{
    text-decoration: underline;
}


/* All projects ends here*/


/* Content Creators.html */

#team-text-content{
    max-width: 90%;
    margin: 0 auto;
}


#our-team{
    display: flex;
    flex-direction: column;
}

.team-row{
    display: -webkit-flex;
    justify-content: space-around;
}

.team-card{
    transition: box-shadow .3s;
    width: 370px;
    height: 370px;
    background-color: #ECEBF3;
    margin: 30px;
}

.team-card:hover{
    box-shadow: 0 0 11px rgba(134, 130, 130, 0.2);
}

/* Ends here*/


/* contact.html*/
#contact-section-1{
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

#contact-section-1 div{
    line-height: 70px;
}
#contact-section-1 div h1{
    font-size: 70px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

#contact-section-1 div p{
    width: 40%;
    text-align: center;
    margin: 30px auto;
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
}

.myButton {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: white;
    background-color: black;
    display: inline-block;
    border-radius: 70px;
    width: 200px;
    height: 50px;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}

.myButton:hover {
    color: white;
    background-color: rgb(15, 15, 15);
    
    border-radius: 70px;
}
.btn-div{
    text-align: center;
}

#contact-section-2,
 #contact-section-3,
  #contact-section-4{
    display: -webkit-flex;
    padding: 40px 40px 40px 10em;
    margin-top: 30px;
    margin-bottom: 20px;

}
#contact-section-4{
    background-color: #fbedd0;
    padding-right: 0 !important;
}

.contact-img-wrapper{
    width: 450px;
    height: 450px;
}

.contact-img-wrapper img{
    width: 100%;
    height: 100%;
}

.contact-section-2-text-content{
    width: 50%;

}

.contact-section-2-text-content h2,
 .contact-section-3-text-content h2,
  .contact-section-4-text-content h2{
    font-size: 40px;
}

.contact-section-2-text-content p,
 .contact-section-3-text-content p,
  .contact-section-4-text-content p{
    font-size:22px;
}



.contact-section-5-stats-img{
    position: absolute;
    display: -webkit-flex;
    left: 0;
    right: 0;
    justify-content: center;
    top: 2155px;
}

.contact-section-5-stats-img div{
    width: 300px;
    height: 200px;
    margin-left: 30px;
    margin-right: 30px;
}

.contact-section-5-stats-img div img{
    width: 100%;
    height: 100%;
}

.contact-section-5-stats{
    display: -webkit-flex;
    justify-content: center;
    margin-top: 200px;
    padding: 0 11.3em;
}

.contact-section-5-stats div img{
    width: 70px;
    height: 70px;
}

.contact-section-5-stats-text-contents{
    width: 50em;
    margin-left: 20px;
    margin-right: 20px;
}

#contact-section-6{
    display: -webkit-flex;
    padding: 30px 130px;
    background-color: #f2f0eb;
}

.contact-section-6-img-wrapper{
    width: 350px;
    height: 450px;
    background-color: turquoise;
}

.contact-section-6-text-content{
    width: 55%;
    margin-right: 30px;
    padding-top: 40px;
}

.contact-section-6-text-content h2{
    font-size: 30px;
}

.contact-section-6-text-content h3{
    font-size: 23px;
}

.contact-section-6-text-content p{
    font-size: 19px;
}

#contact-section-7{
    display: -webkit-flex;
    padding: 30px 150px;
    background-color: #b86200;
}

.contact-section-7-text-content-1, .contact-section-7-text-content-2{
    width: 40%;
}
.contact-section-7-text-content-2{
    padding-left: 100px;
}
.contact-section-7-text-content-1 h2{
    font-size: 40px;
}
.contact-section-7-text-content-2 h3{
    font-size: 25px;
}
.contact-section-7-text-content-2-btn{
    display: -webkit-flex;
    justify-content: space-between;
}


/* Ends here */

/*About.html*/










/* MEDIA QUERIES */

/* Media Query For index.html */

/* Navbar(for all the pages)*/

@media screen and (max-width: 1024px){
    .menu-toggler{
        display: block;
        width: 40px;
        height: 40px;
        margin: 5px 10px;
        float: right;
        cursor: pointer;
        text-align: center;
        color: white;
        font-size: 40px;
    }

    .menu-toggler:before{
        content: '\f0c9';
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
    }

    .menu-toggler.active:before{
        content: '\f00d';
    }

    nav{
        display: none;
    }
    
    nav.active{
        display: block;
        margin-top: 10px;
        width: 100%;
    }

    nav.active ul {
        display: block;
    }
}

/* Index.html */

@media screen and (max-width: 600px){
    #landing-page-video{
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
    }

    #landing-page-section{
        margin: 0 auto;
        width: 80%;
    }

    video{
        width: 100% !important;
    }

    #about-us{
        background-color: white;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 0;
    }

    #about-row{
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
    }

    #about-card{
        margin-top: 20;
        background-color: black;
    }

    #about-intro, #about-description{
        width: 50%;
        margin-bottom: 20px;
        color: black;
    }

}

/* Photography.html */
@media screen and (max-width: 600px){
    .img-row{
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
    }
    .img-cover{
        max-width: 100%;
        /* height: 500px; */
        border: 1px solid white;
    }

    .lozad{
        max-width: 100%;
    }

}


/* Videos.html*/

@media screen and (max-width: 600px){
    #vid-blog div video{
        width: 300px;
    }

    #vid-blog div p{
        width: 70%;
    
    }
}


/* Contents Creator.html*/

@media screen and (max-width: 600px){

    .team-row{
        display: -webkit-flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .team-card{
        max-width: 300px;
        
    }

    #cc-footer{
        display: -webkit-flex;
        flex-direction: column;
    }

    .second-sec{
        margin-left: 0 !important; 
    }
   
}





/*Episode 1.html*/

@media screen and (max-width: 600px){
    #episode-1{
        display: -webkit-flex;
        flex-direction: column;
    }

    .project-episode-1{
        margin: 20px 0 0 0 !important;
    }
}




/* Projects.html*/

@media screen and (max-width: 600px){
    .first-project{
        display: -webkit-flex;
        flex-direction: column;
        padding: 20px 0 !important;
    }
    .project-cover{
        width: 100%;
        height: 430px;
    }
}




/* Contact.html */

@media screen and (max-width: 1024px){
    #contact-section-1 h1{
        font-size: 50px !important;
        line-height: 40px;
    }

    #contact-section-1 p{
        width: 80% !important;
    }
   
     #contact-section-3,
      #contact-section-4,
       #contact-section-5,
        #contact-section-6,
         #contact-section-7{
             flex-direction: column;
         }

          #contact-section-2{
              flex-direction: column-reverse;
              justify-content: center;
              padding: 60px !important;
          }
           .contact-img-wrapper{
               width: 80%;
               height: 15%;
           }

           .contact-section-2-text-content,
            .contact-section-3-text-content,
             .contact-section-4-text-content{
                width: 100%;

            }

            #contact-section-3{
                padding: 60px;
            }


            .contact-section-5-stats-img{
                display: none;
            }


            #contact-section-4{
                padding: 60px;
            }

            #contact-section-5{
                
            }


            .contact-section-5-stats{
                flex-direction: column;
                padding: 50px;
                margin-top: 60px;
            }

            .contact-section-5-stats-text-contents{
                width: 80%;
            }

            #contact-section-6{
                padding: 60px !important;
            }

            .contact-section-6-text-content{
                width: 100% !important;
            }

            .contact-section-6-img-wrapper{
                width: 70%;
                height: 300px;
                background-color: turquoise;
    
            }

            #contact-section-7{
                padding: 60px !important;
            }
            .contact-section-7-text-content-1, .contact-section-7-text-content-2{
                width: 100%;
                padding: 0;
            }            

}







/*About.html */
.about-header h1{
    font-size: 5em;
    text-align: center;
}

#about-section-1{
    display: -webkit-flex;
    justify-content: center;

}
.about-section-1-img-wrapper{
    width: 38%;
    height: 400px;
    background-color: tomato;
}

.about-section-1-text-content{
    width: 50%;
    padding: 30px;
    margin-left: 20px;
}
.about-section-1-text-content p, .about-section-2-text-content p, .about-section-3-text-content p{
    font-size: 28px;
}

#about-section-2{
    display: -webkit-flex;
    justify-content: center;
}
.about-section-2-img-wrapper{
    width: 38%;
    height: 400px;
    background-color: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-section-2-img-wrapper h1{
    font-size: 50px;
    text-align: center;
}

.about-section-2-img-wrapper img{
    width: 100%;
    height: 100%;
}
.about-section-2-text-content h3, .about-section-3-text-content h3, .about-section-4-text-content-header h3{
    font-size: 50px;
}


.about-section-2-text-content{
    width: 50%;
    padding: 30px;
    margin-right: 20px;
}

#about-section-3{
    display: -webkit-flex;
    justify-content: center;
    margin-top: 26px;
}

.about-section-3-video{
    width: 35%;
    height: 280px;
    background-color: tomato;
    margin-top: 56px;
}

.about-section-3-text-content{
    width: 50%;
    padding: 30px;
    margin-left: 20px;
}

#about-section-4, #about-section-5{
    background-color: #f2f0eb;
    padding-top: 25px;
    padding-bottom: 25px;
}


.about-section-4-text-content-header{
    text-align: center;
}

.about-section-4-text-content-header h3{
    margin-bottom: 20px;
}

.about-section-4-text-content-header p{
    font-size: 25px;
    margin-top: 15px;
}

.about-section-4-text-content-values-column{
    display: -webkit-flex;
    flex-direction: column;
}

.about-section-4-text-content-values-row{
    display: -webkit-flex;
    justify-content: center;
}

.about-section-4-text-content-values-content{
    width: 25%;
    margin: 30px;
}

.about-section-4-text-content-values-content hr{
    border-top-width: 3px;
    border-color: #d8d7d2;
}

.about-section-4-text-content-values-content h3{
    font-size: 30px;
}
.about-section-4-text-content-values-content p{
    font-size: 18px;
}

.about-section-5-address{
    text-align: center;
}

.about-section-5-address h3{
    font-size: 40px;
    margin-bottom: 20px;
}

.about-section-5-address p{
    font-size: 22px;
    margin-top: 20px;
}

@media screen and (max-width: 800px){
    .about-header h1{
        font-size: 50px;
        text-align: center;
        padding: 20px;
    }
    #about-section-1, #about-section-3{
        flex-direction: column;

    }

    .about-section-1-img-wrapper{
        width: 80%;
        margin: 0 auto;
    }

    .about-section-1-text-content{
        width: 80%;
    }

    #about-section-2{
        flex-direction: column-reverse;
        padding: 20px;
    }
    .about-section-2-img-wrapper{
        width: 68%;
        height: 300px;
    }
    .about-section-2-text-content{
        width: 80%;
    }

    .about-section-3-video{
        width: 90%;
        margin: 0 auto;
    }

    .about-section-3-text-content{
        width: 80%;
    }

    .about-section-4-text-content-header h3{
        font-size: 35px;
    }

    .about-section-4-text-content-header p{
        font-size: 20px;
    }

    .about-section-4-text-content-values-row{
        flex-direction: column;
    }

    .about-section-4-text-content-values-content{
        width: 80%;
    }

    .about-section-5-address h3{
        font-size: 35px;
    }

    .about-section-5-address p{
        font-size: 19px;
    }
}