body{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}



/* index.html */

/* Header(for all the pages) */

header{
    /* position: fixed;
    left: 0;
    right: 0;
    top: 0; */
    z-index: 1;
    max-width: 100%;
    padding: 10px;
    background-color: #283618;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-bottom: 1px  solid white;
}

.logo {
    color: white;
    width: 220px;
    height: 60px;
    padding: 0 20px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    text-decoration: none;
}

nav{
    float: right;
}

.clearfix{
    clear: both;
}

nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}

.icon {
    display: none;
}

nav ul li a.active, nav ul li a:hover{
    color: black;
    background-color: white;
    box-sizing: border-box;
    border-radius: 2px;
    transition: 0.5s;
}

.menu-toggler{
    display: none;
}
/* Main */

/* Landing Page */

#landing-page-video{
    margin-top: 0;
    width: 100%;
    padding: 50px 0 80px 0;
    margin-bottom: 40px;
    background-color: black;
}

#index-video{
    display: -webkit-flex;
    justify-content: center;
    padding: 10px;
}

video{
    width: 60%;
}


/* About Us Section */

#about-us{
    padding: 60px;
    margin-bottom: 0;
  
    color: black;
}

#about-row{
    display: -webkit-flex;
    justify-content: space-between;
}

#about-intro{
    width: 30%;
    text-align: center;
    margin-top: 70px;
}


#about-card{
    width: 300px;
    height: 400px;
    background-color: black;
    margin-left: 20px;
    margin-right: 20px;
}

#about-description{
    width: 30%;
    text-align: center;
    margin-top: 50px;
}

/* Footer */

footer{
    margin-top: 0;
    background-color: #B86200;
    padding: 80px;
}


/* Photography.html */

/* Main */

#images{
    display: -webkit-flex;
    flex-direction: column;
}

.img-row{
    display: -webkit-flex;

}

.img-cover{
    /* width: 300px;
    height: 300px; */
    border: 1px solid white;
}

.lozad{
    width: 100%;
    height: 100%;
}







/* Videos.html */
#vid-blog{
margin-top: 78px;
}

#vid-blog div{
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}


#vid-blog div video{
    width: 60%;
}

#vid-blog div p{
    width: 50%;

}

/* Background color for the videos */

.bl-cl{
    background-color: black;
    color: white;
}

.or-cl{
    background-color: orangered;
    color: white;
}

.yel-col{
    background-color: yellow;

}





/* MEDIA QUERIES */

/* Media Query For index.html */

/* Navbar(for all the pages)*/

@media screen and (max-width: 1000px){
    .menu-toggler{
        display: block;
        width: 40px;
        height: 40px;
        margin: 5px 10px;
        float: right;
        cursor: pointer;
        text-align: center;
        color: white;
        font-size: 40px;
    }

    .menu-toggler:before{
        content: '\f0c9';
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
    }

    .menu-toggler.active:before{
        content: '\f00d';
        /* font-family: "Font Awesome 5 Free";
        font-weight: 900;
        display: inline-block; */
    }

    nav{
        display: none;
    }
    
    nav.active{
        display: block;
        margin-top: 10px;
        width: 100%;
    }

    nav.active ul {
        display: block;
    }
}

@media screen and (max-width: 1000px){


    .img-row{
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
    }
    
    .img-cover{
        /* width: 70%; */
        height: 350px;
        border: 1px solid white;
    }

}


@media screen and (max-width: 600px){
    video{
        width: 100%;
    }

    .picture-rows{
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
    }

    .picture-square{
        width: 90%;
        height: 30%;
    }

    #about-us{
        background-color: white;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 0;
    }

    #about-row{
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
    }

    #about-card{
        margin-top: 20;
        background-color: black;
    }

    #about-intro, #about-description{
        width: 50%;
        margin-bottom: 20px;
        color: black;
    }

}

/* Photography.html */
@media screen and (max-width: 600px){
    .img-row{
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
    }
    .img-cover{
        width: 100%;
        height: 100vh;
        border: 1px solid white;
    }

    /* TO HIDE STUFFS */
    .hide-display{
        display: none;
    }
}


/* Videos.html*/

@media screen and (max-width: 600px){
    #vid-blog div video{
        width: 90%;
    }

    #vid-blog div p{
        width: 70%;
    
    }
}