body{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    background-color: yellow;
}

/* index.html */

/* Header(for all the pages) */


nav{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 30px;
    background-color: darkgreen;
}

#nav-flex{
    display: -webkit-flex;
    justify-content: space-between;
    overflow: hidden;

}


.nav-item{
    padding: 10px;
}

a{
    text-decoration: none;
    color: black;
    text-align: center;
}

a:hover{
    color: white;
}

.icon {
    display: none;
}

.active{
    color: white;
}
/* Main */

/* Landing Page */

#landing-page{
    margin-top: 110px;
    width: 100%;
    margin-bottom: 40px;
}

#landing-square-box{
    margin: 0 auto;
    width: 80%;
    height: 70vh;
    background-color: black;
}

/* Pictures Section */

#pictures{
    width: 100%;
    margin-bottom: 40px;
}

#pictures-column{
    display: -webkit-flex;
    flex-direction: column;
} 
.picture-rows{
    display: -webkit-flex;
}

.picture-square{
    width: 250px;
    height: 300px;
    border: 1px solid white;    
}

img{
    display: block;
    width: 100%;
    height: 100%;
}

/* About Us Section */

#about-us{
    padding: 60px;
    margin-bottom: 30px;
}

#about-row{
    display: -webkit-flex;
    justify-content: space-between;
}

#about-intro{
    width: 30%;
    text-align: center;
    margin-top: 70px;
}


#about-card{
    width: 300px;
    height: 400px;
    background-color: black;
    margin-left: 20px;
    margin-right: 20px;
}

#about-description{
    width: 30%;
    text-align: center;
    margin-top: 50px;
}

/* Footer */

footer{
    margin-top: 0;
    background-color: orangered;
    padding: 80px;
}


/* Photography.html */

/* Main */

main{
    margin-top: 99px;
}

#images{
    display: -webkit-flex;
    flex-direction: column;
}

.img-row{
    display: -webkit-flex;

}

.img-cover{
    width: 100%;
    height: 350px;
    border: 1px solid white;
}

.modal-img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}



/* Modal Images */ 
.modal{
    z-index: 1;
    display: none;
    padding-top: 10px;
    position: fixed;
    left: 0;
    top: 100px;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: white;
}



#modal-content{
    margin: auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}

.modal-hover-opacity{
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-backface-visibility: hidden;
}

.modal-hover-opacity:hover{
    opacity: 0.60;
    filter: alpha(opacity=60);
    -webkit-backface-visibility: hidden;
}


.close{
    text-decoration: none;
    float: right;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.img01{
    width: 500px;
    height: 500px;
}

#modal-content{
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.7s;
    animation-name: zoom;
    animation-duration: 0.7s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes zoom{
    from {transform: scale(0)}
    to {transform: scale(1)}
}


/* Lazy Loading and Progressive Image Loader */
/* Progressive Image Loader */



/* MEDIA QUERIES */

/* Media Query For index.html */

/* Navbar(for all the pages)*/

@media screen and (max-width: 911px){
    .topnav a:not(:first-child){
        display: none;
    }

    .topnav a.icon{
        float: right;
        display: inline;
    }
    
}

@media screen and (max-width: 911px){
    .topnav.responsive {
        position: relative;
        display: -webkit-flex;
        flex-direction: column;
    }
    .topnav.responsive .icon{
        position: absolute;
        top: 0;
        right: 0;
    }

    .topnav.responsive a{
        float: none;
        display: inline;
        text-align: left;
    }

}


@media screen and (max-width: 600px){

    .picture-rows{
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
    }

    .picture-square{
        width: 90%;
        height: 30%;
    }

    #about-us{
        background-color: black;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 0;
    }

    #about-row{
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
    }

    #about-card{
        margin-top: 20;
        background-color: white;
    }

    #about-intro, #about-description{
        width: 50%;
        margin-bottom: 20px;
        color: white;
    }

}

/* Photography.html */
@media screen and (max-width: 600px){
    .img-row{
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
    }
}