body{
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

/* index.html */

/* Header(for all the pages) */


nav{
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 30px;
    background-color: white;
}

#nav-flex{
    display: -webkit-flex;
    justify-content: space-between;
    overflow: hidden;

}


.nav-item{
    padding: 10px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #b2b4b8;
}

.icon {
    display: none;
}

.active{
    color: #b2b4b8;
}
/* Main */

/* Landing Page */

#landing-page{
    margin-top: 120px;
}

#landing-square-box{
    margin: 0 auto;
    width: 80%;
    height: 70vh;
    background-color: black;
}

/* Pictures Section */

#pictures{
    margin-top: 50px;
    margin-bottom: 50px
}

#pictures-column{
    display: -webkit-flex;
    flex-direction: column;
} 
.picture-rows{
    display: -webkit-flex;
}

.picture-square{
    width: 223px;
    height: 300px;
    border: 1px solid white;    
}

img{
    display: block;
    /* width: 223px;
    height: 224px; */
    width: 100%;
    height: 100%;
}

/* About Us Section */

#about-us{
    margin-bottom: 50px;
}

#about-row{
    display: -webkit-flex;
    justify-content: center;
}

#about-intro{
    width: 30%;
    text-align: center;
    margin-top: 70px;
}


#about-card{
    width: 300px;
    height: 400px;
    background-color: black;
    margin-left: 20px;
    margin-right: 20px;
}

#about-description{
    width: 30%;
    text-align: center;
    margin-top: 50px;
}

/* Footer */

footer{
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: whitesmoke;
    padding: 80px;
}


/* Photography.html */

/* Main */

main{
    margin-top: 120px;
}

#images{
    display: -webkit-flex;
    flex-direction: column;
}

.img-row{
    display: -webkit-flex;

}

.img-cover{
    width: 100%;
    height: 400px;
    border: 1px solid white;
}

img{
    width: 100%;
    height: 100%;
}










/* MEDIA QUERIES */

/* Media Query For index.html */

/* Navbar(for all the pages)*/

@media screen and (max-width: 600px){
    .topnav a:not(:first-child){
        display: none;
    }

    .topnav a.icon{
        float: right;
        display: block;
    }
    
}

@media screen and (max-width: 600px){
    .topnav.responsive {
        position: relative;
        display: -webkit-flex;
        flex-direction: column;
    }
    .topnav.responsive .icon{
        position: absolute;
        top: 0;
        right: 0;
    }

    .topnav.responsive a{
        float: none;
        display: block;
        text-align: left;
    }

}


@media screen and (max-width: 600px){

    .picture-rows{
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
    }

    .picture-square{
        width: 90%;
        height: 30%;
    }

    #about-us{
        background-color: black;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 0;
    }

    #about-row{
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
    }

    #about-card{
        margin-top: 20;
        background-color: white;
    }

    #about-intro, #about-description{
        width: 50%;
        margin-bottom: 20px;
        color: white;
    }
}

/* Photography.html */
@media screen and (max-width: 600px){
    .img-row{
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
    }
}