body{
    font-family: 'Assistant', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}



/* index.html */

/* Header(for all the pages) */

header{
    /* position: fixed;
    left: 0;
    right: 0;
    top: 0; */
    z-index: 1;
    max-width: 100%;
    padding: 10px;
    background-color: #283618;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-bottom: 1px  solid white;
}

.logo {
    color: white;
    width: 220px;
    height: 60px;
    padding: 0 20px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    text-decoration: none;
}

nav{
    float: right;
}

.clearfix{
    clear: both;
}

nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}

.icon {
    display: none;
}

nav ul li a.active, nav ul li a:hover{
    color: black;
    background-color: white;
    box-sizing: border-box;
    border-radius: 2px;
    transition: 0.5s;
}

.menu-toggler{
    display: none;
}
/* Main */

/* Landing Page */

#landing-page-video{
    margin-top: 0;
    width: 100%;
    padding: 50px 0 80px 0;
    margin-bottom: 40px;
    background-color: black;
    display: -webkit-flex;
}

#landing-video{
    display: -webkit-flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
}

#landing-page-section{
    color: white;
    width: 40%;
    margin-right: 100px;
    margin-top: 20px;
}

video{
    width: 60%;
}

a.button1{
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
}
a.button1:hover{
     color: #000000;
     background-color: #FFFFFF;
}


/* About Us Section */

#about-us{
    padding: 60px;
    margin-bottom: 0;
  
    color: black;
}

#about-row{
    display: -webkit-flex;
    justify-content: space-between;
}

#about-intro{
    width: 30%;
    text-align: center;
    margin-top: 70px;
}


#about-card{
    width: 300px;
    height: 400px;
    background-color: black;
    margin-left: 20px;
    margin-right: 20px;
}

#about-description{
    width: 30%;
    text-align: center;
    margin-top: 50px;
}

#about-description h4 a{
    color: #686868;
}

#about-description h4 a:hover{
    color: #0C120C
}

/* Footer */

footer{
    margin-top: 0;
    background-color: #B86200;
}


/* Photography.html */

/* Main */

#images{
    display: -webkit-flex;
    flex-direction: column;
}

.img-row{
    display: -webkit-flex;
    height: min-content;
}

.img-cover{
    border: 1px solid white;
}

.lozad{
    width: 100%;
    min-height: 100%;
}







/* Videos.html */
#vid-blog{
margin-top: 78px;
}

#vid-blog div{
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}


#vid-blog div video{
    width: 60%;
}

#vid-blog div p{
    width: 50%;

}

/* Background color for the videos */

.bl-cl{
    background-color: black;
    color: white;
}

.or-cl{
    background-color: orangered;
    color: white;
}

.yel-col{
    background-color: yellow;

}





/* MEDIA QUERIES */

/* Media Query For index.html */

/* Navbar(for all the pages)*/

@media screen and (max-width: 1024px){
    .menu-toggler{
        display: block;
        width: 40px;
        height: 40px;
        margin: 5px 10px;
        float: right;
        cursor: pointer;
        text-align: center;
        color: white;
        font-size: 40px;
    }

    .menu-toggler:before{
        content: '\f0c9';
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
    }

    .menu-toggler.active:before{
        content: '\f00d';
    }

    nav{
        display: none;
    }
    
    nav.active{
        display: block;
        margin-top: 10px;
        width: 100%;
    }

    nav.active ul {
        display: block;
    }
}

@media screen and (max-width: 1024px){


    .img-row{
        display: -webkit-flex;
    }
    
    .img-cover{
        border: 1px solid white;
    }

}


@media screen and (max-width: 600px){
    #landing-page-video{
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
    }

    #landing-page-section{
        margin: 0 auto;
        width: 80%;
    }

    video{
        width: 100% !important;
    }

    .picture-rows{
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
    }

    .picture-square{
        width: 90%;
        height: 30%;
    }

    #about-us{
        background-color: white;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 0;
    }

    #about-row{
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
    }

    #about-card{
        margin-top: 20;
        background-color: black;
    }

    #about-intro, #about-description{
        width: 50%;
        margin-bottom: 20px;
        color: black;
    }

}

/* Photography.html */
@media screen and (max-width: 600px){
    .img-row{
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
    }
    .img-cover{
        max-width: 100%;
        /* height: 500px; */
        border: 1px solid white;
    }

    .lozad{
        max-width: 100%;
    }

    /* TO HIDE STUFFS */
    .hide-display{
        display: none;
    }
}


/* Videos.html*/

@media screen and (max-width: 600px){
    #vid-blog div video{
        width: 300px;
    }

    #vid-blog div p{
        width: 70%;
    
    }
}


@media screen and (max-width: 600px){
    .team-row{
        display: -webkit-flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .team-card{
        max-width: 300px;
        
    }

    #cc-footer{
        display: -webkit-flex;
        flex-direction: column;
    }

    .second-sec{
        margin-left: 0 !important; 
    }
   
}


@media screen and (max-width: 600px){

    #contact-card{
        width: 260px !important;
    }
}





/* Content Creators.html */


#team-text-content{
    max-width: 90%;
    margin: 0 auto;
}


#our-team{
    display: flex;
    flex-direction: column;
}

.team-row{
    display: -webkit-flex;
    justify-content: space-around;
}

.team-card{
    transition: box-shadow .3s;
    width: 370px;
    height: 370px;
    background-color: #ECEBF3;
    margin: 30px;
}

.team-card:hover{
    box-shadow: 0 0 11px rgba(134, 130, 130, 0.2);
}





/* footer */
#cc-footer{
    padding: 60px;
    display: -webkit-flex;
}

.second-sec{
    margin-left: 40px;
}

.social-media-icons{
    display: -webkit-flex;
    
}

.circle-icons i{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: -webkit-flex;    
    justify-content: center;
    align-items: center;
    margin: 5px;
}

a{
    text-decoration: none;
}


.fa-facebook-f{
    color: white;
    background-color: #3b5998;
}
.fa-twitter{
    color:  #00acee;
    background-color:white;
}

.fa-instagram{
    color:  #3f729b;
    background-color:white;
}

.fa-linkedin-in{
    color:  #0e76a8;
    background-color:white;
}



/* Conatact Page*/
#contact-section{
    padding: 100px 40px 130px 0 ;
}

#contact-card{
    width: 50%;
    margin: 0 auto;
    border: 1px solid #686868;
    padding: 5px 20px 20px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    
}

#contact-card .contact-mail{
    text-decoration: none;
    color: white;
    padding: 7px 5px;
    background-color: black;
}

#contact-card .contact-mail:hover{
    background-color: #686868;
    transition: .6s;
}

.second-sec a{
    color: black;
    text-decoration: underline;
}

/* Projects.html*/ 

#episode-1{
    display: -webkit-flex;
    margin-bottom: 40px;
    justify-content: center;
}

.project-episode-1{
    width: 50%;
    margin: 20px;
}


#episode-1-text-content h2{
    text-decoration: underline;
}

@media screen and (max-width: 600px){
    #episode-1{
        display: -webkit-flex;
        flex-direction: column;
    }

    .project-episode-1{
        margin: 20px 0 0 0 !important;
    }
}


/**/

#project-header{
    text-align: center;
    font-weight: 200;
}

.first-project{
    display: -webkit-flex;
    padding: 30px;
}

.project-cover{
    width: 380px;
    height: 430px;
}

.project-poster-img{
    width: 100%;
    height: 100%;
}

.project-text{
    width: 80%;
    margin: 30px;
}

.episode-title:hover{
    text-decoration: underline;
}

hr{
    width: 90%;
}

.a-project{
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 600px){
    .first-project{
        display: -webkit-flex;
        flex-direction: column;
        padding: 0 !important;
    }
    .project-cover{
    width: 100%;
    height: 430px;
}
}