body{
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

/* Header */


nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 30px;
    background-color: white;
}

#nav-flex{
    display: flex;
    justify-content: space-between;
    overflow: hidden;

}


.nav-item{
    padding: 10px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #b2b4b8;
}

.icon {
    display: none;
}

a.active{
    color: #b2b4b8 !important;
}
/* Main */

#landing-square-box{
    margin: 0 auto;
    margin-top: 100px;
    width: 80%;
    height: 80vh;
    background-color: black;
}

#pictures{
    margin-top: 50px;
    margin-bottom: 50px
}

#pictures-column{
    display: flex;
    flex-direction: column;
} 
.picture-rows{
    display: flex;
}

.picture-square{
    width: 223px;
    height: 300px;
    border: 1px solid white;    
}

img{
    display: block;
    /* width: 223px;
    height: 224px; */
    width: 100%;
    height: 100%;
}


#about-us{
    margin-bottom: 50px;
}

#about-row{
    display: flex;
    justify-content: center;
}

#about-intro{
    width: 30%;
    text-align: center;
    margin-top: 70px;
}


#about-card{
    width: 300px;
    height: 400px;
    background-color: black;
    margin-left: 20px;
    margin-right: 20px;
}

#about-description{
    width: 30%;
    text-align: center;
    margin-top: 50px;
}

footer{
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: whitesmoke;
    padding: 80px;
}


@media screen and (max-width: 600px){
    .topnav a:not(:first-child){
        display: none;
    }

    .topnav a.icon{
        float: right;
        display: block;
    }
    
}

@media screen and (max-width: 600px){
    .topnav.responsive {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .topnav.responsive .icon{
        position: absolute;
        top: 0;
        right: 0;
    }

    .topnav.responsive a{
        float: none;
        display: block;
        text-align: left;
    }

}